@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("header.css");
@import url("home.css");
@import url("nav.css");
@import url("menu.css");
@import url("testimonials.css");
@import url("footer.css");
@import url("galeria-videos.css");

:root {
    --color-primary-1: #264653; /* Azul Petróleo*/
    --color-primary-2: #F1E2C5; /* Bege Claro / Areia*/
    --color-primary-3: #2A2A2A; /* Cinza Chumbo (quase preto */
    --color-primary-4: #7D845F; /* Verde Oliva Suave */
    --color-primary-5: #F8F8F8; /* Branco Neve */

    
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-2);
}

section {
    padding: 28px 8%;
}
a {
    text-decoration: none;
  }
  
.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-2);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: backgroud-color .3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-4);

}
.btn-default-ver {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-1);
    color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: backgroud-color .3s ease;
}

.btn-default-ver:hover {
    background-color: #34697e;
}
.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #ffffff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
   color: var(--color-primary-1);
   font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}
.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-form input,
.feedback-form textarea,
.feedback-form select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.feedback-form textarea {
    min-height: 100px;
}
.btn-default-dp {
    padding: 10px 24px;
    font-size: 1.1rem;
    background-color: var(--color-primary-4); /* ou uma cor como #FF69B4 */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: center;

}

.btn-default-dp:hover {
    background-color: var(--color-primary-3); /* cor mais escura para hover */
    transform: scale(1.03);
}
